<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>{%block title%}{%endblock%}</title>
    {%block css%} {%endblock%}
    <style>
        #message {
  display:none;
  background: #010b16;
  color: #456;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}
#message p {
  padding: 10px 35px;
  font-size: 18px;
}
/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
.navbar-brand {
    display: contents;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}


    </style>
</head>

<body>
    <!--{%if messages%}
{%for message in messages%}
<div class="alert {{message.tags}}" id="msg" role="alert">
    {{message}}
</div>
{%endfor%}
{%endif%}-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="customer/home"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/customer">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/checkout">Checkout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/contact">Contact_Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/tracker">Track Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/kirana">Book Kirana</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mr-ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{request.user}} Welcome
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/customer/custlogout/">Logout</a>
                    </div>
                </li>
            </ul>
            {%else%}
            <button type="button" class="btn btn-outline-success my-2 mx-1 my-sm-0" data-toggle="modal" data-target="#signupcustLong">
                Signup
            </button>
            <button type="button" class="btn btn-outline-success " data-toggle="modal" data-target="#logincustLong">
                Login
            </button>
            {% endif %}
        </div>
        <button type="button" class="btn btn-secondary mx-2" id="popcart" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
            Cart(<span id="cart">0</span>)
        </button>
        </div>
    </nav>
    {%if messages%}
    {%for message in messages%}
    <div class="alert {{message.tags}}" id="msg" role="alert">
        {{message}}
    </div>
    {%endfor%}
    {%endif%}
    {%block body%}
    {%endblock%}
    <!-- Button trigger modal -->
    <!-- Signup Modal -->
    <div class="modal fade" id="signupcustLong" tabindex="-1" role="dialog" aria-labelledby="signupcustLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signupcustLongTitle">Sign Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/customer/home/" method="post">{%csrf_token%}
                        <div class="form-group">
                            <label for="custfirstname">First Name</label>
                            <input type="input" class="form-control" name="custfirstname" id="custfirstname" placeholder="Enter First Name" novalidate>
                        </div>
                        <div class="form-group">
                            <label for="custlastname">Last Name</label>
                            <input type="input" class="form-control" name="custlastname" id="custlastname" placeholder="Enter last Name" novalidate>
                        </div>
                        <div class="form-group">
                            <label for="custemail">Email</label>
                            <input type="email" class="form-control" name="custemail" id="custemail" placeholder="Enter Email Address" novalidate>
                        </div>
                        <div class="form-group">
                            <label for="custusername">Username</label>
                            <input type="input" class="form-control" name="custusername" id="custusername" placeholder="Enter Username" novalidate>
                        </div>
                        <div class="form-group">
                            <label for="custpassword1">Password</label>
                            <input type="password" class="form-control" name="custpassword1" id="custpassword1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Enter Your Password" novalidate>
                            <input type="checkbox" onclick="myFunction()">Show Password<br>
                            <div id="message">
                                <h5>Password must contain the following:</h5>
                                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                                <p id="number" class="invalid">A <b>number</b></p>
                                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="custpassword2">Re-Enter Password </label>
                            <input type="password" class="form-control" name="custpassword2" id="custpassword2" placeholder="Enter Your Password Again" novalidate>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Modal -->
    <div class="modal fade" id="logincustLong" tabindex="-1" role="dialog" aria-labelledby="logincustLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logincustLongTitle">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/customer/custlogin/" method="post">{%csrf_token%}
                        <div class="form-group">
                            <label for="custlogin">Username</label>
                            <input type="input" class="form-control" name="custlogin" id="custlogin" placeholder="Enter Username" required>
                        </div>
                        <div class="form-group">
                            <label for="custpsw">Password</label>
                            <input type="password" class="form-control" name="custpsw" id="custpsw" placeholder="Enter Your Password" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="/MEDIA/files/js/script.js"></script>
    {%block js%} {%endblock%}
    <script>
    function myFunction() {
        var x = document.getElementById("custpassword1");
        if (x.type == "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
    var myInput = document.getElementById("custpassword1");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");
    // When the user clicks on the password field, show the message box
    myInput.onfocus = function() {
        document.getElementById("message").style.display = "block";
    }
    // When the user clicks outside of the password field, hide the message box
    myInput.onblur = function() {
        document.getElementById("message").style.display = "none";
    }
    // When the user starts to type something inside the password field
    myInput.onkeyup = function() {
        // Validate lowercase letters
        var lowerCaseLetters = /[a-z]/g;
        if (myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
        } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }

        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if (myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
        } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if (myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
        } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
        }

        // Validate length
        if (myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }
    }
    </script>
</body>

</html>