{%extends 'store/layout.html'%}
{%block title%}Product View{%endblock%}
{%block css%}<style>
.card-img,
.card-img-bottom,
.card-img-top {
    width: 112px;
}

img {
    max-width: 125px;
    max-height: 134px;
    border-style: none;

}

.card-img,
.card-img-bottom,
.card-img-top {
    width: 112px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: auto;
    max-width: 600px;
    max-height: 550px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
</style>
{%endblock%}
{%block body%}
{%if messages%}
{%for message in messages%}
<div class="alert {{message.tags}}" id="msg" role="alert">
    {{message}}
</div>
{%endfor%}
{%endif%}
{%for product,range in allprod%}
<div class="container">
    <h4 class="my-4">{{product.0.prod_category}}</h4>
    <div class="row">
        {%for i in product%}
        <div class="col-sm-4">
            <div class="card">
                <div align="center">
                    <img src="/MEDIA/{{i.image}}" class="card-img-top-col center my-2" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title" id="prname{{i.prod_name}}">{{i.prod_name|truncatechars:25}}</h5>
                    <h7 class="card-text" id="prprice{{i.prod_price}}">₹<span>{{i.prod_price}}</span></h7>
                    {%if i.discount_price%}
                    | <h7 class="card-text" id="prprice{{i.prod_price}}"><a class="badge" style="background-color:hsl(186, 100%, 50%);"> Discount</a> ₹<span>{{i.discount_price}} <span class="badge badge-warning"> saving of {{i.get_amount_saving}}</span></span></h7>
                    {%endif%}
                    <p class="card-text">{{i.prod_desc|truncatechars:50}}</p>
                    <span id="divpr{{i.id}}" class="divpr">
                        <a href="/store/produpdate/{{i.prod_id}}"><button id="pr{{i.prod_id}}" class="btn btn-primary cart mx-2 my-2">Edit Product </button></a>
                        <a href="/store/prodelete/{{i.prod_id}}"><button id="prr{{i.prod_id}}" class="btn btn-primary cart mx-2 my-2">Delete Product </button></a>
                    </span>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endfor%}
<div class="container">
    <div class="pagination">
        <span class="step-links">
            {% if allprod.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ allprod.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ allprod.number }} of {{ allprod.paginator.num_pages }}.
            </span>
            {% if allprod.has_next %}
            <a href="?page={{ allprod.next_page_number }}">next</a>
            <a href="?page={{ allprod.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{%endblock%}
{%block js%}
<script>
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
    updatecart(cart);
}
console.log('working')
$('.divpr').on('click', 'button.cart', function() {
    console.log('clicked');

    var idstr = this.id.toString();
    console.log(idstr);



});
setTimeout(function() {
    if ($('#msg').length > 0) {
        $('#msg').remove();
    }
}, 2000)
</script>
{%endblock%}